<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="row vertical-align">
        <div class="col-md-6">
          <h1 class="pull-left">Wikis</h1>
        </div>
        <div class="col-md-6">
          <span class="pull-right">
            <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-info' %>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="list-group">
            <% @wikis.each do |wiki| %>
              <a href="<%= wiki_path(wiki.id) %>" class="list-group-item">
              <%= wiki.title %>
              </a>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
