<div class="container">
  <h1>Wiki Index</h1>
  <h6>A list of all public Wikis.</h6>
  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
