<!DOCTYPE html>
<html>
  <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h2>You have been added as a collaborator on <%= link_to "#{@collaborator.wiki.title}", wiki_url(@collaborator.wiki) %></h2>

    <p>You now have access to edit a private wiki.  With great power comes great responsibility!</p>
  </body>
</html>
