// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vertical-align {
    display: flex;
    align-items: center;
}

.row {
  margin-top: 2% ;
}

.white-background {
  background-color: #FFFFFF;
}
