<!DOCTYPE html>
<html>
  <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h2>You rock, <%= @user.username %>!</h2>

    <p>Thank you for becoming a Premium Wikibloc user! You can now create your own private wikis.  Go ahead and
      click <%= link_to "here", new_wiki_url %> to get started!</p>
  </body>
</html>
